services:
  planner-mcp:
    container_name: planner-mcp
    build: ./planner-mcp
    volumes:
      - ${CODE_PATH}:/${PROJECT_NAME}:ro 
    restart: unless-stopped
    environment:
      - CODE_PATH=${CODE_PATH}
      - PROJECT_NAME=${PROJECT_NAME}
    ports:
      - "60000:8080"

  coder-mcp:
    container_name: coder-mcp
    build: ./coder-mcp
    volumes:
      - ${CODE_PATH}:/${PROJECT_NAME}
    restart: unless-stopped
    environment:
      - CODE_PATH=${CODE_PATH}
      - PROJECT_NAME=${PROJECT_NAME}
    ports:
      - "60001:8080"
  